.vscode
.wake/
lib/
.DS_Store
bin/
# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/
/broadcast/*/31337/
/broadcast/**/dry-run/
deployments/

# Docs
docs/

# Dotenv file
.env
.gitignore